<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.109.42" targetFramework="net40" />
  <package id="WebSharper.ExtJS" version="2.5.15.9" targetFramework="net40" />
  <package id="WebSharper.SenchaArchitect" version="2.5.13.13" targetFramework="net40" />
</packages>