<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
				<add tagPrefix="ws" namespace="WebExcel" assembly="WebExcel"/>
			</controls>
		</pages>
		<compilation debug="true"/></system.web>
	<system.webServer>
	</system.webServer>
</configuration>
