<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper"/>
				<add tagPrefix="ws" namespace="WebExcel" assembly="WebExcel"/>
			</controls>
		</pages>
		<httpModules>
			<add name="WebSharper" type="IntelliFactory.WebSharper.Web.Module, IntelliFactory.WebSharper"/>
		</httpModules>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="WebSharper" type="IntelliFactory.WebSharper.Web.Module, IntelliFactory.WebSharper"/>
		</modules>
	</system.webServer>
</configuration>
