<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true"/>
    
    <httpModules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
      <add name="IntelliFactory.WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets"/>      
    </httpModules>
    
    <pages>
      <controls>
        <add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
      </controls>
    </pages>

  </system.web>
  <appSettings>
    <add key="google.jsapi.key" value=""></add>
  </appSettings>
</configuration>
