table
{
    border-collapse:collapse;
    border:1px solid black;
    padding:0px
}

td
{
    padding: 0px;
    font-size: 14px;
}

input
{
    border:1px solid #cccccc;
    width:100px;
}
.specialCell
{
    background:#cccccc;
    text-align:center;
}
.firstColumn
{
    width:30px;
}
.editing
{
    background-color:#ffccff;
    border-style:solid;
    border-color:gray;
}
.error
{
    color:black;
    background-color:#FFA70F
}
.formula
{
    background-color:#82B1FF
}
.toolbar
{
    text-align:left;
}